<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683483442680-dp9hns325s0tqdctgq8bf0bff8n6b7se.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683483442680-dp9hns325s0tqdctgq8bf0bff8n6b7se</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>683483442680-cn270v9lseq8cj42sv8josoore2eos2r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJwEnmQx2G68_9vlHiG39B5M6f-XGjl2s</string>
	<key>GCM_SENDER_ID</key>
	<string>683483442680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CommunityChat</string>
	<key>PROJECT_ID</key>
	<string>communitychat-d2245</string>
	<key>STORAGE_BUCKET</key>
	<string>communitychat-d2245.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683483442680:ios:3a13476aaf073261057a0d</string>
</dict>
</plist>